.events-standard{
    margin: 20px;
}
.events-standard h3{
    margin-top: 20px;
    border-bottom: solid;
}
.formStyles {
    width: 50%;
    padding:10px;
    margin:auto;
}
.card-color .formStyles{
    color: #f26534;
}

.link-styles{
    color: #f26534;
    text-decoration: none;
}
.extra-style{
    padding:50px;
}
.event-table{
    margin: 30px;
    border:solid;
    width:100%;
}
.event-row{
    border-bottom: solid;
    /* margin: 30px; */
    /* padding: 50px; */
}
.event-col{
    border-left: solid;
    padding: 10px;
}
.points-log{
    text-align: left;
    padding: 10px;
    border-bottom: solid;

}