.calendar-main {
  background-image: url(./pictures/SHPE-logo.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin: auto;
}
.calendar-main h2 {
  text-align: center;
  background-color: rgb(0, 31, 91, 100);
  color: #f26534;
  font-weight: 900;
  padding: 10px;
}
