.Eboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: #D3D3D3;
  border-radius: 75%;
  justify-content: center;
 }

.container {
  display: flex;
}
