.Main {
  background-color: #72A9BE;
}

.header {
  background-color: rgb(0,31,91,100);
  border-radius: 11000px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: Comic Sans Ms cursive;
  color: white;
}

.paragraph {
  background-color: #d3d3d3;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Comic Sans Ms;
  font-style: cursive;
  text-align: center;
}

.Director-Photo {
  height: 80%;
  width: 80%;
  align-content: center;
  
  }