.Main {
  /*background-color: #72A9BE;*/
}

.Main-Picture {
  height: 80%;
  width: 99%;
  margin: 5px;
}

.header p {
  font-size: 18px;
  text-align: justify;
}
.header p {
  font-weight: 750;
  text-indent: 30px;
}
.header h2 {
  padding: 5px;
  text-align: center;
  font-weight: 750;
}
.header h3 {
  font-weight: 700;
  text-align: center;
}

.box1 {
  color: #f26534;
  background-color: rgb(0, 31, 91, 100);
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  /*margin-bottom: 10px;*/
}

.box2 {
  background-color: #72a9be;
  color: black; /*rgb(210,63,38);*/
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box2 ul {
  text-align: center;
  margin-right: 40px;
}

.list {
  list-style-type: none;
}

.list-requirement {
  font-weight: 750;
  font-size: 18px;
}

.Director-Photo {
  margin: auto;
  padding: 5px;
  height: 50%;
  width: 50%;
  }