.mainFooter{
	background-color: #282c34;
	color: #FFFF;
	clear: both;
	display: flex;
	flex-direction: column;
	position: static;
	align-items: center;
	text-align: left;
}

.copyright{
	font-size: 2vmax;
}
 