.Footer-header {
  background-color: rgb(40, 44, 52, 200);
  color: red;
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.shpelogo {
  margin: auto;
  padding-top: 20px;
  max-width: 40vh;
  max-height: 20vh;
}
.mainFooter {
  align-items: center;
}
.info h3 {
  font-weight: 700;
}
.Contact {
  list-style-type: none;
  text-align: left;
  margin-left: 30px;
}
.info {
  text-align: center;
}
