.Main {
}

.Main-logo {
  height: 15vmax;
  width: 20vmax;
  animation: Main-logo-spin infinite 20s linear;

}
.Main-title{
  margin-top: 80px;
}

.Main-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
