.Main {
}

.Main-title {
  margin-top: 80px;
}

.Main-logo {
  height: 15vmax;
  width: 20vmax;

  animation: Main-logo-spin infinite 5s linear;
}
.Main-title {
  margin-top: 80px;
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Convention-Pic {
  /*background-size: 150px 75px;*/
  /*object-fit: 100%;
  border: 4px solid #d3d3d3;
  border-radius: 30px;*/
  height: 80%;
  width: 100%;
  margin-top: 10px;
  margin-top: -100px;
}

.hr1 {
  border: 1px solid black;
}

.header {
  background-color: #4286f4;
  border-radius: 11000px;
  margin: 10px;
  text-align: center;
  font-family: Comic Sans Ms cursive;
}

.paragraph {
  background-color: #d3d3d3;
  border-radius: 11000px;
  margin: 10px;
  font-family: Comic Sans Ms;
  font-style: cursive;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  height: 100%;
  width: 150%;
  margin: 5px;
  padding: 70px;
}
.column-pop {
  position: absolute;
  width: 0px;
  transition: width 0.3s linear 0s;
  z-index: 100;
  align-items: center;
}

.column:hover + .column-pop {
  width: 500px;
  align-items: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
