.Main {
}

.Main-title{
  margin-top: 80px;
}

.Main-logo {
  height: 15vmax;
  width: 20vmax;

  animation: Main-logo-spin infinite 5s linear; 

}
.Main-title{
  margin-top: 80px;
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PCED-GROUP-PIC {
  /*background-size: 150px 75px;*/
  object-fit: 100%;
  border: 4px solid #D3D3D3;
  border-radius: 30px;
  max-width: 100%;
}

.hr1 {
  border: 1px solid black;
}

.header {
  background-color: #FA8072;
  border-radius: 11000px;
  margin: 10px;
  text-align: center;
  font-family: Comic Sans Ms cursive;
}

.paragraph {
  background-color: #D3D3D3;
  border-radius: 11000px;
  margin: 10px;
  font-family: Comic Sans Ms;
  font-style: cursive;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}