.pillar-main {
  clear: both;
  /* border: solid; */
  /* border: solid; */
}
.background-Pillar {
  width: 100%;
  height: 200px;
  margin: auto;
  border-radius: 10%;
  /* border: solid; */
}
.Name {
  padding-top: 10px;
  text-align: center;
}
.info {
  /* letter-spacing: 1px; */
  margin-top: 20px;
  font-weight: 700;
  /* border: solid; */

  text-align: center;
}
