.pillar-header {
  clear: both;
  max-height: max-content;
  /* border: solid; */
}
.background-Pillar {
  background-image: url("pictures/Column.jpeg");
  background-repeat: no-repeat;
  background-color: #72a9be;
  background-size: 165px;
  background-position: center;
  width: 200px;
  height: 300px;
  margin: auto;
}
.Name {
  width: 200;
  padding-top: 100px;
  text-align: center;
}
.info {
  /* letter-spacing: 1px; */
  margin-top: 20px;
  max-width: 100%;
  font-weight: 700;
  /* border: solid; */

  text-align: center;
}
