/* css file for ScoialMedia.js */
.social-links {
  bottom: 0;
  right: 0;
  padding-right: 30px;
  float: right;
  clear: both;
  margin: 5px;
}

.Main-socialIcon {
  padding: 20px;
}
.pos-social {
  padding: 2px;
  margin-left: 20px;
}
