/* this CSS file "Events.css" is a template for any event that is to be added  so as to have a standard template for all of the 
events at LAESA-SHPE

Specfied targetted css code for a certain Jsx file is named starting with the name of the event
*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_text2
 */
.Events-Banner {
  height: 40%;
}
.Events-Picture {
  width: 100%;
  max-height: 130vh;
  object-fit: cover;
  clear: both;
}

.Events-header p {
  font-size: 18px;
  text-align: justify;
}
.Events-header p {
  font-weight: 650;
  text-indent: 30px;
}
.Events-header {
  width: 100%;
}
.Events-header h2 {
  padding: 5px;
  text-align: center;
  font-weight: 700;
}
.Events-header h4 {
  font-weight: 700;
  text-align: center;
}
.Events-Director-Photo {
  display: block;
  margin: auto;
  min-width: 50%;
  padding: 10px;
  width: 40%;
  margin: auto;
  height: 80%;
}
.lists {
  font-weight: 700;
  font-size: 2vh;
  text-align: center;
  list-style: none;
  margin: auto;
}

.fitting {
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-color ul {
  text-align: center;
  margin-right: 30px;
}
.card-color2 h2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.Gallery {
  background-color: rgb(0, 31, 91, 100);
  color: black;
}

.slide-container {
  width: 100%;
  margin: auto;
}
.Row:after {
  display: table;
}

.Column1 {
  float: left;
  width: 50%;
  /* border: solid; */
  padding: 10px;
}
.events-list {
  margin: auto;
  margin-right: 40px;
}
