.SHPEJR-GROUP-PIC {
  background-image: url(../pictures/Shpejr-group.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
}
.PCED-GROUP-PIC {
  background-image: url(../pictures/PCED-GROUP1.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  margin-top: -100px;
}
.FLL-GROUP-PIC {
  background-image: url(../pictures/FLL-Pictures/IMG_8311.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  margin-top: -100px;
}
.Events-header h1 {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  text-align: center;
  padding-top: 340px;
}

.Events-header p {
  font-size: 18px;
  text-align: justify;
}

.card-color2 {
  background-color: #72a9be;
  color: black; /*rgb(210,63,38);*/
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  clear: both;
}
.Events-header p {
  font-weight: 750;
  text-indent: 30px;
}
.card-color {
  color: #f26534;
  background-color: rgb(0, 31, 91, 100);
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Events-header {
  width: 100%;
}
.Events-header h2 {
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

.Events-header h4 {
  font-weight: 700;
  text-align: center;
}
.Events-Director-Photo {
  display: block;
  margin: auto;
  min-width: 50%;
  padding: 10px;
  width: 40%;
  margin: auto;
  height: 80%;
}
.events-list {
  font-weight: 750;
  font-size: 18px;
}
.Contact {
  list-style-type: none;
}
.card-color ul {
  text-align: center;
  margin-right: 30px;
}
