.members-banner {
  color: #f26534;
  background-color: rgb(0, 31, 91, 100);
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 70px;
  height: 40%;
}
.columns {
  width: 32%;
  margin: 3px;
  text-align: center;
  /* border: solid; */
}

.members-header h3 {
  padding: 5px;
  text-align: center;
  font-weight: 600;
}
.members-header {
  text-align: center;
}
.members-header h2 {
  font-weight: 700;
}
