.members {
  /* border: solid;
  border-color: black; */
  width: 100%;
}
.Eboard-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color1 {
  /* border: solid; */
  background-color: #72a9be;
  color: black;
  font-weight: 600;
  padding: 50px;
  margin-bottom: 10px;
  width: 100%;
}
.color2 {
  color: #f26534;
  background-color: rgb(0, 31, 91, 100);
  font-weight: 600;
  padding: 50px;
  margin-bottom: 10px;
  width: 100%;
}
.eboard-pic {
  margin-bottom: 10px;
  height: 800px;
  width: 100%;
}
