.Eboard-Banner {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 31, 91, 100);
  color: #f26534;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.Text-Banner {
  padding-bottom: 30px;
}
.eboard-pic {
  width: 100%;
  max-height: 130vh;
}

.Eboard-header p {
  text-align: justify;
  font-size: large;
  font-weight: 750;
  text-indent: 30px;
}
.eboard-title {
  margin: auto;
  text-align: center;
  background-color: #72a9be;
}
.itemNums {
  color: aliceblue;
}
.buttons {
  margin: auto;
  width: 130px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  margin: 5px 5px;
  color: #f26534;
  border: solid;
  /* border: thin; */
  /* line-height: 1.42857; */
}
