.Eboard-Banner {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 31, 91, 100);
  color: #f26534;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.Text-Banner {
  padding-bottom: 30px;
}
.eboard-pic {
  width: 100%;
  max-height: 130vh;
}

.Eboard-header p {
  text-align: justify;
  font-size: large;
  font-weight: 750;
  text-indent: 30px;
}
.buttons {
  background-color: #72a9be;
  border-radius: 0px;
  margin-bottom: 0px;
  /* border: solid; */
}
.counter {
  width: 80px;
  margin: auto;
  /* border: solid; */
}
.eboard-title {
  margin: auto;
  text-align: center;
  background-color: #72a9be;
}
.itemNums {
  color: #d23f26;
  /* border: solid; */
}
.btn {
  background-color: red;
}
